@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --corPd: #1AC3F0;
    --cor02: #49D49D;
    --corE: #0e4557;
    --corCtr: #F04FB3;
    --corLis: #a57fbde5;
}

body{
    background-color: var(--corLis);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: linear-gradient(to bottom, var(--corPd), var(--corE));
    color: white;
    min-height: 120px;
    text-align: center;
    padding-top: 25px;
}
header > h1{
    margin-top: 25px;
}
nav{
    background-color: var(--corE);
    padding: 10px;
    box-shadow: 5px 6px 10px black;
}
nav > a{
    color: var(--cor02);
    padding: 10px;
    text-decoration: none;
}
nav > a:hover{
    background-color: var(--corPd);
    color: var(--corE);
    border-radius: 6px;
    transition-duration: 0.5s;
}
main{
    background-color: var(--corE);
    min-width: 350px;
    max-width: 950px;
    margin: auto;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
main > h1{
    background-image: linear-gradient(to right, var(--corPd), transparent);
    color: var(--corE);
    margin-top: 35px;
    font-size: 1.65em;
    text-indent: 2px;
}
main > h2{
    background-image: linear-gradient(to right, var(--cor02), transparent);
    color: var(--corE);
    font-size: 1.25em;
    text-indent: 25px;
}
main > p{
    text-align: justify;
    text-indent: 30px;
    line-height: 1.6em;
    padding-top: 20px;
}
main > ul{
    list-style-position: inside;
    text-indent: 10px;
}
main > img{
    width: 100%;
    max-width: 630px;
    display: block;
    margin: auto;
    padding-top: 20px;
}
p.exp{
    text-align: center;
    font-weight: lighter;
    font-size: 0.9em;
    padding-bottom: 10px;
}

footer{
    background-image: linear-gradient(to bottom, var(--corE), var(--cor02));
    font-size: 0.9em;
    margin-top: 50px;
}
footer > p{
    text-align: center;
    padding: 7px;
    text-indent: 20px;
    color: rgba(0, 0, 0, 0.763);
}
footer > ul{
    text-align: center;
    color: black;
    list-style-position: inside;
    padding-bottom: 10px;
    columns: 2;
}